.frame-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5154px;
  overflow: hidden;
  width: 1920px;
}

.overlap-group15 {
  align-self: flex-start;
  height: 1459px;
  margin-left: -18px;
  position: relative;
  width: 1992px;
}

.overlap-group3 {
  height: 1459px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1992px;
}

.rectangle-60 {
  height: 687px;
  left: 14px;
  position: absolute;
  top: 58px;
  width: 806px;
}

.vector-8 {
  height: 710px;
  left: 591px;
  position: absolute;
  top: 48px;
  width: 401px;
}

.vector-9 {
  height: 515px;
  left: 1519px;
  position: absolute;
  top: 151px;
  width: 284px;
}

.vector-10 {
  height: 686px;
  left: 1721px;
  position: absolute;
  top: 72px;
  width: 270px;
}

.somos-uma-associao {
  left: 986px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 246px;
  width: 518px;
}

.sendo-assim-o-nosso {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-book);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 986px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 580px;
  width: 518px;
}

.abrimos-as-portas-pa {
  left: 988px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 387px;
  width: 518px;
}

.rectangle-61 {
  background-color: var(--international-klein-blue);
  height: 15px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 1936px;
}

.rectangle-4 {
  background-color: var(--white);
  box-shadow: -15px 2px 6px #00000021;
  height: 73px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 1955px;
}

.path94 {
  height: 6px;
  left: 73px;
  position: absolute;
  top: 116px;
  width: 5px;
}

.path98 {
  height: 6px;
  left: 83px;
  position: absolute;
  top: 116px;
  width: 5px;
}

.path102 {
  height: 6px;
  left: 93px;
  position: absolute;
  top: 116px;
  width: 6px;
}

.path106 {
  height: 6px;
  left: 104px;
  position: absolute;
  top: 116px;
  width: 6px;
}

.path110 {
  height: 6px;
  left: 115px;
  position: absolute;
  top: 116px;
  width: 6px;
}

.path114 {
  height: 6px;
  left: 126px;
  position: absolute;
  top: 116px;
  width: 6px;
}

.path118 {
  height: 6px;
  left: 137px;
  position: absolute;
  top: 116px;
  width: 6px;
}

.path122 {
  height: 30px;
  left: 88px;
  position: absolute;
  top: 72px;
  width: 31px;
}

.path126 {
  height: 30px;
  left: 50px;
  position: absolute;
  top: 72px;
  width: 36px;
}

.path130 {
  height: 16px;
  left: 131px;
  position: absolute;
  top: 67px;
  width: 17px;
}

.path134 {
  height: 14px;
  left: 131px;
  position: absolute;
  top: 94px;
  width: 16px;
}

.path138 {
  height: 40px;
  left: 106px;
  position: absolute;
  top: 68px;
  width: 25px;
}

.icon-close {
  height: 42px;
  left: 124px;
  position: absolute;
  top: 67px;
  width: 41px;
}

.rectangle-66 {
  background-color: var(--orange);
  box-shadow: 2px 3px 9px #00000040;
  height: 58px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.rea-do-associado {
  left: 1216px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 20px;
}

.benefcios {
  left: 458px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.faa-uma-cotao {
  left: 647px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.curiosidade {
  left: 904px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.s-a-maxx-tem {
  left: 1084px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.onde-nos-encontrar {
  left: 1551px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.depoimentos {
  left: 1325px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 80px;
}

.precisa-de-ajuda {
  left: 1494px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 20px;
}

.assistncia-24h-telefone {
  left: 50px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 17px;
}

.ellipse-9 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 1859px;
  position: absolute;
  top: 11px;
  transform: rotate(180deg);
  width: 36px;
}

.ellipse-10 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 1797px;
  position: absolute;
  top: 11px;
  transform: rotate(180deg);
  width: 36px;
}

.ellipse-11 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 1735px;
  position: absolute;
  top: 11px;
  transform: rotate(180deg);
  width: 36px;
}

.rectangle-30 {
  background-color: var(--orange);
  height: 714px;
  left: 18px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 745px;
  width: 1920px;
}

.sem-ttulo-1-1 {
  height: 714px;
  left: 18px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 745px;
  width: 1920px;
}

.muito-mais {
  color: var(--white);
  font-family: var(--font-family-gotham-bookitalic);
  font-size: 51.4px;
  font-style: italic;
  font-weight: 400;
  left: 1151px;
  letter-spacing: 0;
  position: absolute;
  top: 779px;
  width: 277px;
}

.benefcios-1 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-ultraitalic);
  font-size: 51.4px;
  font-style: italic;
  font-weight: 400;
  left: 1215px;
  letter-spacing: 0;
  position: absolute;
  top: 817px;
}

.guincho-com-km-ilimitado {
  left: 1070px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 998px;
  width: 81px;
}

.at-r-200mil-contra-terceiros {
  left: 1062px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1128px;
}

.x100-de-tabela-fipe {
  left: 1075px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1260px;
}

.motorista-da-rodada {
  left: 1079px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1391px;
}

.chaveiro-auto {
  left: 1221px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 997px;
}

.seguro-app {
  left: 1227px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1128px;
}

.martelinho-de-ouro {
  left: 1216px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1260px;
}

.moto-reserva {
  left: 1224px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1391px;
}

.carro-reserva {
  left: 1363px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 997px;
}

.aplice-danos-morais-e-pessoais {
  left: 1333px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1128px;
}

.proteo-de-motor-e-cmbio {
  left: 1337px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1260px;
}

.retrovisores-e-para-choques {
  left: 1343px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1391px;
}

.transporte-com-km-ilimitada {
  left: 1478px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 997px;
}

.plano-funeral {
  left: 1503px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1128px;
}

.cobertura-nacional {
  left: 1495px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1260px;
}

.vidros-faris-e-lanternas {
  left: 1486px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: absolute;
  text-align: center;
  top: 1391px;
}

.rectangle-13 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1070px;
  position: absolute;
  top: 912px;
  width: 81px;
}

.rectangle-17 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1070px;
  position: absolute;
  top: 1043px;
  width: 81px;
}

.rectangle-21 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1070px;
  position: absolute;
  top: 1175px;
  width: 81px;
}

.rectangle-25 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1070px;
  position: absolute;
  top: 1306px;
  width: 81px;
}

.rectangle-14 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1208px;
  position: absolute;
  top: 912px;
  width: 81px;
}

.rectangle-18 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1208px;
  position: absolute;
  top: 1043px;
  width: 81px;
}

.rectangle-22 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1208px;
  position: absolute;
  top: 1175px;
  width: 81px;
}

.rectangle-26 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1208px;
  position: absolute;
  top: 1306px;
  width: 81px;
}

.rectangle-15 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1346px;
  position: absolute;
  top: 912px;
  width: 81px;
}

.rectangle-19 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1346px;
  position: absolute;
  top: 1043px;
  width: 81px;
}

.rectangle-23 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1346px;
  position: absolute;
  top: 1175px;
  width: 81px;
}

.rectangle-27 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1346px;
  position: absolute;
  top: 1306px;
  width: 81px;
}

.rectangle-16 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1485px;
  position: absolute;
  top: 912px;
  width: 81px;
}

.rectangle-20 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1485px;
  position: absolute;
  top: 1043px;
  width: 81px;
}

.rectangle-24 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1485px;
  position: absolute;
  top: 1175px;
  width: 81px;
}

.rectangle-28 {
  background-color: var(--international-klein-blue);
  border-radius: 5.76px;
  height: 81px;
  left: 1485px;
  position: absolute;
  top: 1306px;
  width: 81px;
}

.banner-120x100-daniel-1-traced {
  height: 449px;
  left: 1085px;
  position: absolute;
  top: 928px;
  width: 469px;
}

.mask-group {
  height: 660px;
  left: 289px;
  position: absolute;
  top: 799px;
  width: 657px;
}

.vector {
  height: 19px;
  left: 1805px;
  position: absolute;
  top: 20px;
  width: 19px;
}

.vector-2 {
  height: 19px;
  left: 1744px;
  position: absolute;
  top: 20px;
  width: 19px;
}

.vector-3 {
  height: 16px;
  left: 1866px;
  position: absolute;
  top: 21px;
  width: 22px;
}

.vector-4 {
  height: 12px;
  left: 1186px;
  position: absolute;
  top: 18px;
  width: 12px;
}

.vector-5 {
  height: 10px;
  left: 1182px;
  position: absolute;
  top: 30px;
  width: 19px;
}

.vector-6 {
  height: 19px;
  left: 1467px;
  position: absolute;
  top: 20px;
  width: 19px;
}

.quem-somos {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-ultra);
  font-size: 42px;
  font-weight: 400;
  left: 1204px;
  letter-spacing: 0;
  position: absolute;
  top: 158px;
}

.overlap-group4 {
  height: 586px;
  margin-right: 14.13px;
  margin-top: 113px;
  position: relative;
  width: 1170px;
}

.rectangle-5 {
  height: 528px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 497px;
}

.rectangle-62 {
  height: 586px;
  left: 0;
  position: absolute;
  top: 0;
  width: 497px;
}

.rectangle-1 {
  height: 446px;
  left: 482px;
  position: absolute;
  top: 53px;
  width: 687px;
}

.path138-1 {
  height: 446px;
  left: 689px;
  position: absolute;
  top: 53px;
  width: 274px;
}

.path138-2 {
  height: 446px;
  left: 896px;
  position: absolute;
  top: 53px;
  width: 274px;
}

.path138-3 {
  height: 446px;
  left: 481px;
  position: absolute;
  top: 53px;
  width: 274px;
}

.faa-uma-cotao-online {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-black);
  font-size: 30.2px;
  font-weight: 900;
  left: 56px;
  letter-spacing: 0;
  position: absolute;
  top: 44px;
  width: 384px;
}

.faa-uma-cotao-ago {
  color: var(--sonic-silver);
  font-family: var(--font-family-gotham-book);
  font-size: 19.6px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 422px;
}

.nome {
  left: 46px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 170px;
}

.e-mail {
  left: 46px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 277px;
}

.whats-app {
  left: 49px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 383px;
}

.rectangle-7 {
  background-color: var(--black-haze);
  border-radius: 5.45px;
  height: 58px;
  left: 46px;
  position: absolute;
  top: 193px;
  width: 406px;
}

.rectangle-8 {
  background-color: var(--black-haze);
  border-radius: 5.45px;
  height: 58px;
  left: 46px;
  position: absolute;
  top: 299px;
  width: 406px;
}

.rectangle-9 {
  background-color: var(--black-haze);
  border-radius: 5.45px;
  height: 58px;
  left: 46px;
  position: absolute;
  top: 406px;
  width: 406px;
}

.surprised-happy-bear {
  height: 420px;
  left: 535px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 568px;
}

.image-1 {
  height: 206px;
  left: 585px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 411px;
}

.x1 {
  height: 104px;
  left: 989px;
  position: absolute;
  top: 119px;
  width: 79px;
}

.ellipse-8 {
  background-color: var(--blue);
  border-radius: 71.98px;
  height: 144px;
  left: 989px;
  position: absolute;
  top: 90px;
  width: 144px;
}

.text-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 113.7px;
  font-weight: 900;
  left: 989px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: -1.15px 0px 2.3px #0000004f , 0px 3.45px 5.75px #00000040;
  top: 103px;
  transform: rotate(-0.02deg);
  width: 80px;
}

.number {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 70.2px;
  font-weight: 900;
  left: 1039px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: -1.15px 0px 2.3px #0000004f , 0px 3.45px 5.75px #00000040;
  top: 106px;
  transform: rotate(-0.02deg);
  width: 94px;
}

.a-partir-de {
  color: var(--white);
  font-family: var(--font-family-gotham-bookitalic);
  font-size: 10.7px;
  font-style: italic;
  font-weight: 400;
  left: 1033px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 105px;
  width: 58px;
}

.ao-dia {
  color: var(--white);
  font-family: var(--font-family-gotham-book);
  font-size: 19.6px;
  font-weight: 400;
  left: 1073px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 177px;
  width: 60px;
}

.rectangle-63 {
  background-color: var(--blue);
  height: 18px;
  left: 508px;
  position: absolute;
  top: 108px;
  transform: rotate(-6.59deg);
  width: 234px;
}

.vem-de-maxx-e-protege-o-seu-veculo {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 34.1px;
  font-weight: 900;
  left: 509px;
  letter-spacing: 0;
  position: absolute;
  top: 87px;
  transform: rotate(-6.59deg);
  width: 232px;
}

.smiling-face-with-sunglasses {
  height: 106px;
  left: 1047px;
  position: absolute;
  top: 382px;
  width: 105px;
}

.smiling-face-with-sunglasses-1 {
  height: 74px;
  left: 495px;
  position: absolute;
  top: 29px;
  width: 74px;
}

.smiling-face-with-sunglasses-2 {
  height: 57px;
  left: 566px;
  position: absolute;
  top: 404px;
  width: 57px;
}

.rectangle-32 {
  background-color: var(--orange-2);
  border-radius: 10.91px;
  height: 68px;
  left: 72px;
  position: absolute;
  top: 487px;
  width: 352px;
}

.enviar-dados {
  color: var(--white);
  font-family: var(--font-family-gotham-bold);
  font-size: 33.6px;
  font-weight: 700;
  left: 135px;
  letter-spacing: 0;
  position: absolute;
  top: 500px;
}

.overlap-group5 {
  height: 714px;
  margin-top: 112px;
  position: relative;
  width: 1920px;
}

.rectangle-56 {
  background-color: var(--international-klein-blue);
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.sem-ttulo-1-2 {
  height: 700px;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 1920px;
}

.ellipse-4 {
  height: 656px;
  left: 1053px;
  position: absolute;
  top: 12px;
  width: 656px;
}

.a-maxx-tem-guincho-com-km-ilimitada {
  color: var(--white);
  font-family: var(--font-family-gotham-ultraitalic);
  font-size: 37.8px;
  font-style: italic;
  font-weight: 400;
  left: 430px;
  letter-spacing: 0;
  position: absolute;
  top: 226px;
  width: 430px;
}

.na-maxx-protege-voc {
  color: var(--white);
  font-family: var(--font-family-gotham-book);
  font-size: 25px;
  font-weight: 400;
  left: 430px;
  letter-spacing: 0;
  position: absolute;
  top: 333px;
  width: 450px;
}

.rectangle-32-1 {
  background-color: var(--orange-2);
  border-radius: 10px;
  height: 62px;
  left: 483px;
  position: absolute;
  top: 503px;
  width: 323px;
}

.name {
  color: var(--white);
  font-family: var(--font-family-gotham-bold);
  font-size: 30.8px;
  font-weight: 700;
  left: 515px;
  letter-spacing: 0;
  position: absolute;
  top: 515px;
  width: 260px;
}

.overlap-group1 {
  height: 335px;
  left: 992px;
  position: absolute;
  top: 391px;
  width: 482px;
}

.rectangle-33 {
  height: 207px;
  left: 199px;
  position: absolute;
  top: 125px;
  width: 277px;
}

.rectangle-34 {
  height: 155px;
  left: 14px;
  position: absolute;
  top: 180px;
  width: 260px;
}

.prancheta-1-1 {
  height: 316px;
  left: 0;
  position: absolute;
  top: 0;
  width: 482px;
}

.rectangle-74 {
  background-color: var(--white);
  border-radius: 2px;
  height: 21px;
  left: 1031px;
  position: absolute;
  top: 608px;
  transform: rotate(11.25deg);
  width: 45px;
}

.na-maxx-voc-tem {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 98px;
  min-height: 87px;
  min-width: 677px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 382px;
  margin-right: 0.44px;
  margin-top: 56px;
  min-width: 1692px;
}

.overlap-group7 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 44.39px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 382px;
  padding: 55.7px 97px;
  width: 357px;
}

.banner-120x100-daniel-1-traced-1 {
  height: 133px;
  margin-top: 18px;
  width: 161px;
}

.motorista-da-rodada-1 {
  letter-spacing: 0;
  margin-top: 45px;
  min-height: 74px;
  min-width: 161px;
  text-align: center;
}

.overlap-group10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 44.39px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 88px;
  min-height: 382px;
  padding: 37.7px 13.1px;
  width: 357px;
}

.banner-120x100-daniel-1-traced-2 {
  align-self: center;
  height: 158px;
  margin-right: 0.53px;
  margin-top: 36px;
  width: 159px;
}

.guincho-e-transporte {
  color: var(--flamingo);
  font-family: var(--font-family-gotham-black);
  font-size: 30.8px;
  font-weight: 900;
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 111px;
  text-align: center;
  width: 329px;
}

.overlap-group8 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 44.39px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 88px;
  min-height: 382px;
  padding: 55.7px 46.2px;
  width: 357px;
}

.banner-120x100-daniel-1-traced-3 {
  align-self: center;
  height: 149px;
  margin-right: 1.12px;
  margin-top: 10px;
  width: 118px;
}

.proteo-para-motor-e-cmbio {
  letter-spacing: 0;
  margin-top: 37px;
  min-height: 74px;
  min-width: 250px;
  text-align: center;
}

.overlap-group9 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 44.39px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 88px;
  min-height: 382px;
  padding: 55.7px 56.3px;
  width: 357px;
}

.banner-120x100-daniel-1-traced-4 {
  align-self: center;
  height: 133px;
  margin-right: 0.85px;
  margin-top: 18px;
  width: 118px;
}

.x100-da-tabela-fipe {
  letter-spacing: 0;
  margin-top: 45px;
  min-height: 74px;
  min-width: 243px;
  text-align: center;
}

.depoimentos-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 241px;
  min-height: 87px;
  min-width: 491px;
}

.flex-row {
  align-items: flex-end;
  background-color: var(--resolution-blue-2);
  display: flex;
  height: 350px;
  margin-top: 63px;
  min-width: 1920px;
  padding: 42.0px 138px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 214px;
  min-width: 1111px;
}

.ellipse-12 {
  background-color: var(--white);
  border-radius: 99.5px;
  height: 199px;
  width: 199px;
}

.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 187px;
  width: 414px;
}

.nome-sobrenome {
  letter-spacing: 0;
  min-height: 44px;
}

.icon-star-container {
  align-items: flex-start;
  display: flex;
  margin-top: 1px;
  min-width: 178px;
}

.icon-star {
  height: 24px;
  width: 26px;
}

.icon-star-1 {
  height: 24px;
  margin-left: 12px;
  width: 26px;
}

.lorem-ipsum-dolor-si {
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 110px;
  width: 414px;
}

.ellipse-13 {
  background-color: var(--white);
  border-radius: 99.5px;
  height: 199px;
  margin-left: 265px;
  width: 199px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 187px;
  width: 414px;
}

.nome-sobrenome-1 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-ultra);
  font-size: 36.9px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 44px;
}

.flex-col-2 {
  align-items: flex-start;
  background-color: var(--resolution-blue);
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding: 23px 422px;
  width: 1920px;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  min-height: 447px;
  width: 1062px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 229px;
  width: 1062px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  height: 185px;
  margin-left: 0.93px;
  min-width: 1027px;
}

.flex-col-5 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 147px;
  width: 250px;
}

.proteo-veicular {
  letter-spacing: 0;
  margin-left: 0.07px;
  min-height: 26px;
  width: 250px;
}

.flex-row-3 {
  align-items: center;
  display: flex;
  margin-right: 0.4px;
  margin-top: 3px;
  min-width: 250px;
}

.path126-1 {
  height: 66px;
  margin-top: 0.04px;
  width: 78px;
}

.overlap-group11 {
  height: 90px;
  margin-left: 4px;
  position: relative;
  width: 168px;
}

.path122-1 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 67px;
}

.path130-1 {
  height: 34px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 36px;
}

.path134-1 {
  height: 31px;
  left: 93px;
  position: absolute;
  top: 59px;
  width: 34px;
}

.path138-4 {
  height: 87px;
  left: 39px;
  position: absolute;
  top: 3px;
  width: 54px;
}

.icon-close-1 {
  height: 90px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 89px;
}

.path-container {
  align-items: flex-start;
  display: flex;
  margin-right: 0.97px;
  margin-top: 16px;
  min-width: 150px;
}

.path94-1 {
  height: 12px;
  margin-top: 0;
  width: 11px;
}

.path98-1 {
  align-self: flex-end;
  height: 12px;
  margin-left: 12px;
  width: 11px;
}

.path102-1 {
  height: 12px;
  margin-left: 12px;
  width: 12px;
}

.path106-1 {
  align-self: center;
  height: 12px;
  margin-left: 11px;
  margin-top: 0;
  width: 12px;
}

.path11 {
  height: 12px;
  margin-left: 12px;
  margin-top: 0;
  width: 12px;
}

.path114-1 {
  height: 12px;
  margin-left: 11px;
  margin-top: 0;
  width: 12px;
}

.vector-1 {
  align-self: flex-end;
  height: 184px;
  margin-left: 53px;
  width: 2px;
}

.overlap-group13 {
  align-items: center;
  background-color: var(--white);
  border-radius: 35px;
  display: flex;
  height: 70px;
  margin-bottom: 37.1px;
  margin-left: 55px;
  min-width: 70px;
  padding: 0 14px;
}

.vector-7 {
  height: 42px;
  width: 42px;
}

.overlap-group14 {
  align-items: center;
  background-color: var(--white);
  border-radius: 35px;
  display: flex;
  height: 70px;
  margin-bottom: 37.1px;
  margin-left: 20px;
  min-width: 70px;
  padding: 0 24.7px;
}

.vector-11 {
  height: 42px;
  width: 20px;
}

.overlap-group12 {
  align-items: center;
  background-color: var(--white);
  border-radius: 35px;
  display: flex;
  height: 70px;
  margin-bottom: 37.1px;
  margin-left: 20px;
  min-width: 70px;
  padding: 0 14px;
}

.group {
  background-image: url(/static/img/vector-11@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  width: 42px;
}

.flex-col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 84px;
  margin-top: 10.9px;
  min-height: 138px;
  width: 278px;
}

.matriz-blumenausc {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 278px;
}

.rod-paul-fritz-kueh {
  letter-spacing: 0;
  margin-left: 5.0px;
  margin-top: 17px;
  min-height: 44px;
  min-width: 273px;
  text-align: center;
}

.phone {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 30px;
  min-width: 204px;
}

.vector-11-1 {
  height: 2px;
  margin-top: 42px;
  width: 1062px;
}

.flex-row-4 {
  align-items: center;
  display: flex;
  margin-right: 10.0px;
  margin-top: 16px;
  min-width: 1038px;
}

.flex-col-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20.24px;
  min-height: 130px;
  width: 232px;
}

.blumenausc-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 125px;
}

.r-dr-pedro-zimmerm {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 232px;
  text-align: center;
}

.x47-98474-5597-ou-47-99672-3910 {
  letter-spacing: 0;
  margin-left: 5.0px;
  margin-top: 12px;
  min-height: 44px;
  min-width: 183px;
  text-align: center;
}

.vector-15 {
  height: 184px;
  margin-left: 11px;
  width: 2px;
}

.flex-col-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.76px;
  margin-left: 37px;
  min-height: 108px;
  width: 212px;
}

.blumenausc {
  letter-spacing: 0;
  margin-right: 7.0px;
  min-height: 22px;
  min-width: 125px;
}

.r-francisco-vahldieck-2579-fortaleza {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 212px;
  text-align: center;
}

.phone-1 {
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 12px;
  min-height: 22px;
  min-width: 156px;
}

.vector-16 {
  height: 184px;
  margin-left: 19px;
  width: 2px;
}

.flex-col-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20.24px;
  min-height: 130px;
  width: 204px;
}

.r-amazona-4160-sala-02-garcia {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 204px;
  text-align: center;
}

.x47-3288-9020-ou-47-99955-3249 {
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 12px;
  min-height: 44px;
  min-width: 180px;
  text-align: center;
}

.vector-17 {
  height: 184px;
  margin-left: 20px;
  width: 2px;
}

.flex-col-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 15.99px;
  min-height: 126px;
  width: 237px;
}

.brusquesc {
  letter-spacing: 0;
  margin-left: 10.0px;
  min-height: 22px;
  min-width: 109px;
}

.r-alberto-knop-100-jardim-maluche {
  letter-spacing: 0;
  margin-left: 10.0px;
  margin-top: 16px;
  min-height: 36px;
  min-width: 155px;
  text-align: center;
}

.x47-3 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 35px;
  text-align: center;
  width: 237px;
}

.vector-14 {
  height: 2px;
  margin-top: 16px;
  width: 1062px;
}

.flex-row-5 {
  align-items: center;
  display: flex;
  margin-top: 16px;
  min-width: 1031px;
}

.flex-col-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.01px;
  min-height: 126px;
  width: 237px;
}

.indaialsc {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 96px;
}

.av-manoel-simo-131-sala-01-naes {
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 16px;
  min-height: 36px;
  min-width: 226px;
  text-align: center;
}

.vector-20 {
  height: 184px;
  margin-left: 15px;
  width: 2px;
}

.flex-col-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 12px;
  min-height: 125px;
  width: 252px;
}

.ituporangasc {
  letter-spacing: 0;
  margin-right: 25.0px;
  min-height: 22px;
  min-width: 135px;
}

.r-verglio-scheller {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 252px;
  text-align: center;
}

.x47-99210-5541-ou-47-99969-1189 {
  letter-spacing: 0;
  margin-right: 26.0px;
  margin-top: 17px;
  min-height: 34px;
  min-width: 142px;
  text-align: center;
}

.vector-21 {
  height: 184px;
  margin-left: 4px;
  width: 2px;
}

.flex-col-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 62px;
  min-height: 125px;
  width: 150px;
}

.jaragusc {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 107px;
}

.r-carlos-eggert-171-vila-lalau {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 150px;
  text-align: center;
}

.x47-99602-8673-ou-47-99674-0015 {
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 17px;
  min-height: 34px;
  min-width: 147px;
  text-align: center;
}

.vector-19 {
  height: 184px;
  margin-left: 50px;
  width: 2px;
}

.flex-col-14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 40px;
  min-height: 125px;
  width: 203px;
}

.taisc {
  letter-spacing: 0;
  margin-right: 1.0px;
  min-height: 22px;
  min-width: 72px;
}

.r-coronel-feddersen-2120-centro {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 203px;
  text-align: center;
}

.x47-99627-4255-ou-47-99969-1167 {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 17px;
  min-height: 34px;
  min-width: 147px;
  text-align: center;
}

