.instagram-story-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6869px;
  overflow: hidden;
  width: 1080px;
}

.overlap-group6 {
  align-items: center;
  background-color: var(--orange);
  box-shadow: 2px 3px 9px #00000040;
  display: flex;
  height: 58px;
  min-width: 1080px;
  padding: 0 65px;
}

.assistncia-24h-telefone-1 {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 256px;
  text-align: right;
}

.vector-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.0px;
  margin-left: 194px;
  min-height: 22px;
  width: 19px;
}

.vector-13 {
  height: 12px;
  margin-left: 3.5px;
  width: 12px;
}

.vector-18 {
  height: 10px;
  width: 19px;
}

.rea-do-associado-1 {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 2.0px;
  min-height: 24px;
  min-width: 189px;
  text-align: right;
}

.vector-22 {
  height: 19px;
  margin-bottom: 3.0px;
  margin-left: 62px;
  width: 19px;
}

.precisa-de-ajuda-1 {
  letter-spacing: 0;
  margin-left: 8px;
  margin-top: 2.0px;
  min-height: 24px;
  min-width: 175px;
  text-align: right;
}

.overlap-group13-1 {
  height: 2093px;
  margin-right: 0.38px;
  position: relative;
  width: 1080px;
}

.overlap-group2 {
  height: 2093px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1080px;
}

.rectangle-4-1 {
  background-color: var(--white);
  box-shadow: -1px 2px 6px #00000021;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1080px;
}

.path94-2 {
  height: 5px;
  left: 509px;
  position: absolute;
  top: 55px;
  width: 4px;
}

.path98-2 {
  height: 5px;
  left: 518px;
  position: absolute;
  top: 55px;
  width: 4px;
}

.path102-2 {
  height: 5px;
  left: 528px;
  position: absolute;
  top: 55px;
  width: 5px;
}

.path106-2 {
  height: 5px;
  left: 537px;
  position: absolute;
  top: 55px;
  width: 5px;
}

.path110-1 {
  height: 5px;
  left: 547px;
  position: absolute;
  top: 55px;
  width: 5px;
}

.path114-2 {
  height: 5px;
  left: 556px;
  position: absolute;
  top: 55px;
  width: 5px;
}

.path118-1 {
  height: 5px;
  left: 566px;
  position: absolute;
  top: 55px;
  width: 5px;
}

.path122-2 {
  height: 27px;
  left: 522px;
  position: absolute;
  top: 17px;
  width: 27px;
}

.path126-2 {
  height: 27px;
  left: 489px;
  position: absolute;
  top: 17px;
  width: 32px;
}

.path130-2 {
  height: 14px;
  left: 560px;
  position: absolute;
  top: 12px;
  width: 15px;
}

.path134-2 {
  height: 13px;
  left: 560px;
  position: absolute;
  top: 36px;
  width: 14px;
}

.path138-5 {
  height: 36px;
  left: 539px;
  position: absolute;
  top: 13px;
  width: 22px;
}

.icon-close-2 {
  height: 37px;
  left: 555px;
  position: absolute;
  top: 12px;
  width: 36px;
}

.ellipse-9-1 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 189px;
  position: absolute;
  top: 18px;
  transform: rotate(180deg);
  width: 36px;
}

.ellipse-10-1 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 127px;
  position: absolute;
  top: 18px;
  transform: rotate(180deg);
  width: 36px;
}

.ellipse-11-1 {
  background-color: var(--resolution-blue);
  border-radius: 18px;
  height: 36px;
  left: 65px;
  position: absolute;
  top: 18px;
  transform: rotate(180deg);
  width: 36px;
}

.vector-23 {
  height: 19px;
  left: 135px;
  position: absolute;
  top: 27px;
  width: 19px;
}

.vector-24 {
  height: 19px;
  left: 74px;
  position: absolute;
  top: 27px;
  width: 19px;
}

.vector-25 {
  height: 16px;
  left: 196px;
  position: absolute;
  top: 28px;
  width: 22px;
}

.rectangle-60-1 {
  height: 502px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 594px;
}

.vector-8-1 {
  height: 519px;
  left: 425px;
  position: absolute;
  top: 66px;
  width: 293px;
}

.somos-uma-associao-1 {
  left: 718px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 217px;
  width: 328px;
}

.sendo-assim-o-nosso-1 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-book);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  left: 705px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 449px;
  width: 341px;
}

.abrimos-as-portas-pa-1 {
  left: 703px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 317px;
  width: 343px;
}

.rectangle-30-1 {
  background-color: var(--orange);
  height: 1078px;
  left: -219px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 796px;
  transform: rotate(-90deg);
  width: 1517px;
}

.sem-ttulo-1-1-1 {
  height: 1517px;
  left: 0;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 1078px;
}

.muito-mais-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-bookitalic);
  font-size: 71.2px;
  font-style: italic;
  font-weight: 400;
  left: 309px;
  letter-spacing: 0;
  position: absolute;
  top: 657px;
  width: 384px;
}

.benefcios-2 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-ultraitalic);
  font-size: 71.2px;
  font-style: italic;
  font-weight: 400;
  left: 397px;
  letter-spacing: 0;
  position: absolute;
  top: 709px;
}

.guincho-com-km-ilimitado-1 {
  left: 238px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 975px;
  width: 98px;
}

.at-r-200mil-contra-terceiros-1 {
  left: 228px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1134px;
}

.x100-de-tabela-fipe-1 {
  left: 244px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1295px;
}

.motorista-da-rodada-2 {
  left: 249px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1455px;
}

.chaveiro-auto-1 {
  left: 422px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 974px;
}

.seguro-app-1 {
  left: 430px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1134px;
}

.martelinho-de-ouro-1 {
  left: 417px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1295px;
}

.moto-reserva-1 {
  left: 427px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1455px;
}

.carro-reserva-1 {
  left: 595px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 974px;
}

.aplice-danos-morais-e-pessoais-1 {
  left: 559px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1134px;
}

.proteo-de-motor-e-cmbio-1 {
  left: 565px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1295px;
}

.retrovisores-e-para-choques-1 {
  left: 572px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1455px;
}

.transporte-com-km-ilimitada-1 {
  left: 736px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 974px;
}

.plano-funeral-1 {
  left: 767px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1134px;
}

.cobertura-nacional-1 {
  left: 757px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1295px;
}

.vidros-faris-e-lanternas-1 {
  left: 746px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  text-align: center;
  top: 1455px;
}

.rectangle-13-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 238px;
  position: absolute;
  top: 870px;
  width: 98px;
}

.rectangle-17-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 238px;
  position: absolute;
  top: 1030px;
  width: 98px;
}

.rectangle-21-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 238px;
  position: absolute;
  top: 1191px;
  width: 98px;
}

.rectangle-25-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 238px;
  position: absolute;
  top: 1351px;
  width: 98px;
}

.rectangle-14-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 407px;
  position: absolute;
  top: 870px;
  width: 98px;
}

.rectangle-18-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 407px;
  position: absolute;
  top: 1030px;
  width: 98px;
}

.rectangle-22-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 407px;
  position: absolute;
  top: 1191px;
  width: 98px;
}

.rectangle-26-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 407px;
  position: absolute;
  top: 1351px;
  width: 98px;
}

.rectangle-15-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 576px;
  position: absolute;
  top: 870px;
  width: 98px;
}

.rectangle-19-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 576px;
  position: absolute;
  top: 1030px;
  width: 98px;
}

.rectangle-23-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 576px;
  position: absolute;
  top: 1191px;
  width: 98px;
}

.rectangle-27-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 576px;
  position: absolute;
  top: 1351px;
  width: 98px;
}

.rectangle-16-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 745px;
  position: absolute;
  top: 870px;
  width: 98px;
}

.rectangle-20-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 745px;
  position: absolute;
  top: 1030px;
  width: 98px;
}

.rectangle-24-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 745px;
  position: absolute;
  top: 1191px;
  width: 98px;
}

.rectangle-28-1 {
  background-color: var(--international-klein-blue);
  border-radius: 7.03px;
  height: 98px;
  left: 745px;
  position: absolute;
  top: 1351px;
  width: 98px;
}

.banner-120x100-daniel-1-traced-5 {
  height: 549px;
  left: 256px;
  position: absolute;
  top: 889px;
  width: 572px;
}

.mask-group-1 {
  height: 545px;
  left: 269px;
  position: absolute;
  top: 1547px;
  width: 543px;
}

.quem-somos-1 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-ultra);
  font-size: 30.3px;
  font-weight: 400;
  left: 748px;
  letter-spacing: 0;
  position: absolute;
  top: 133px;
}

.overlap-group9-1 {
  height: 483px;
  margin-right: 10.52px;
  margin-top: 108px;
  position: relative;
  width: 964px;
}

.rectangle-5-1 {
  height: 435px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 410px;
}

.rectangle-62-1 {
  height: 483px;
  left: 0;
  position: absolute;
  top: 0;
  width: 410px;
}

.rectangle-1-1 {
  height: 368px;
  left: 398px;
  position: absolute;
  top: 43px;
  width: 566px;
}

.path138-6 {
  height: 368px;
  left: 567px;
  position: absolute;
  top: 43px;
  width: 226px;
}

.path138-7 {
  height: 368px;
  left: 738px;
  position: absolute;
  top: 43px;
  width: 226px;
}

.path138-8 {
  height: 368px;
  left: 396px;
  position: absolute;
  top: 43px;
  width: 226px;
}

.faa-uma-cotao-online-1 {
  color: var(--international-klein-blue);
  font-family: var(--font-family-gotham-black);
  font-size: 24.9px;
  font-weight: 900;
  left: 46px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
  width: 316px;
}

.faa-uma-cotao-ago-1 {
  color: var(--sonic-silver);
  font-family: var(--font-family-gotham-book);
  font-size: 16.2px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 72px;
  width: 348px;
}

.nome-1 {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 140px;
}

.e-mail-1 {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 228px;
}

.whats-app-1 {
  left: 40px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 316px;
}

.rectangle-7-1 {
  background-color: var(--black-haze);
  border-radius: 4.5px;
  height: 48px;
  left: 37px;
  position: absolute;
  top: 159px;
  width: 334px;
}

.rectangle-8-1 {
  background-color: var(--black-haze);
  border-radius: 4.5px;
  height: 48px;
  left: 37px;
  position: absolute;
  top: 247px;
  width: 334px;
}

.rectangle-9-1 {
  background-color: var(--black-haze);
  border-radius: 4.5px;
  height: 48px;
  left: 37px;
  position: absolute;
  top: 335px;
  width: 334px;
}

.surprised-happy-bear-1 {
  height: 347px;
  left: 441px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 468px;
}

.image-1-1 {
  height: 169px;
  left: 482px;
  object-fit: cover;
  position: absolute;
  top: 241px;
  width: 339px;
}

.x1-1 {
  height: 85px;
  left: 815px;
  position: absolute;
  top: 98px;
  width: 65px;
}

.ellipse-8-1 {
  background-color: var(--blue);
  border-radius: 59.34px;
  height: 119px;
  left: 815px;
  position: absolute;
  top: 74px;
  width: 119px;
}

.text-2 {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 93.7px;
  font-weight: 900;
  left: 815px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: -0.95px 0px 1.9px #0000004f , 0px 2.85px 4.74px #00000040;
  top: 85px;
  transform: rotate(-0.02deg);
  width: 66px;
}

.number-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 57.9px;
  font-weight: 900;
  left: 857px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: -0.95px 0px 1.9px #0000004f , 0px 2.85px 4.74px #00000040;
  top: 87px;
  transform: rotate(-0.02deg);
  width: 77px;
}

.a-partir-de-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-bookitalic);
  font-size: 8.8px;
  font-style: italic;
  font-weight: 400;
  left: 851px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 48px;
}

.ao-dia-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-book);
  font-size: 16.2px;
  font-weight: 400;
  left: 884px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 146px;
  width: 49px;
}

.rectangle-63-1 {
  background-color: var(--blue);
  height: 15px;
  left: 419px;
  position: absolute;
  top: 89px;
  transform: rotate(-6.59deg);
  width: 193px;
}

.vem-de-maxx-e-protege-o-seu-veculo-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-black);
  font-size: 28.1px;
  font-weight: 900;
  left: 419px;
  letter-spacing: 0;
  position: absolute;
  top: 72px;
  transform: rotate(-6.59deg);
  width: 191px;
}

.smiling-face-with-sunglasses-5 {
  height: 87px;
  left: 863px;
  position: absolute;
  top: 315px;
  width: 87px;
}

.smiling-face-with-sunglasses-6 {
  height: 61px;
  left: 408px;
  position: absolute;
  top: 24px;
  width: 61px;
}

.smiling-face-with-sunglasses-7 {
  height: 47px;
  left: 466px;
  position: absolute;
  top: 333px;
  width: 47px;
}

.rectangle-32-2 {
  background-color: var(--orange-2);
  border-radius: 8.99px;
  height: 56px;
  left: 59px;
  position: absolute;
  top: 402px;
  width: 290px;
}

.enviar-dados-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-bold);
  font-size: 27.7px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  position: absolute;
  top: 412px;
}

.overlap-group10-1 {
  height: 1286px;
  margin-left: 4.0px;
  margin-top: 30px;
  position: relative;
  width: 1084px;
}

.rectangle-56-1 {
  background-color: var(--international-klein-blue);
  height: 1084px;
  left: -101px;
  position: absolute;
  top: 101px;
  transform: rotate(-90deg);
  width: 1286px;
}

.sem-ttulo-1-2-1 {
  height: 1286px;
  left: 0;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1078px;
}

.ellipse-4-1 {
  height: 497px;
  left: 294px;
  position: absolute;
  top: 65px;
  width: 497px;
}

.overlap-group1-1 {
  height: 254px;
  left: 248px;
  position: absolute;
  top: 352px;
  width: 365px;
}

.rectangle-33-1 {
  height: 157px;
  left: 151px;
  position: absolute;
  top: 95px;
  width: 210px;
}

.rectangle-34-1 {
  height: 118px;
  left: 10px;
  position: absolute;
  top: 136px;
  width: 197px;
}

.prancheta-1-1-1 {
  height: 239px;
  left: 0;
  position: absolute;
  top: 0;
  width: 365px;
}

.a-maxx-tem-guincho-com-km-ilimitada-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-ultraitalic);
  font-size: 55px;
  font-style: italic;
  font-weight: 400;
  left: 230px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 691px;
  width: 626px;
}

.na-maxx-protege-voc-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-book);
  font-size: 36.4px;
  font-weight: 400;
  left: 215px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 847px;
  width: 655px;
}

.rectangle-67 {
  background-color: var(--orange-2);
  border-radius: 14.56px;
  height: 90px;
  left: 308px;
  position: absolute;
  top: 1094px;
  width: 470px;
}

.name-1 {
  color: var(--white);
  font-family: var(--font-family-gotham-bold);
  font-size: 44.8px;
  font-weight: 700;
  left: 353px;
  letter-spacing: 0;
  position: absolute;
  top: 1112px;
  width: 378px;
}

.na-maxx-voc-tem-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 45px;
  min-height: 87px;
  min-width: 677px;
}

.overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 270px;
  margin-right: 11.58px;
  margin-top: 101px;
  min-width: 646px;
}

.overlap-group3-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 31.34px;
  box-shadow: 0px 2.82px 2.82px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  padding: 39.6px 67.8px;
  width: 252px;
}

.banner-120x100-daniel-1-traced-6 {
  height: 94px;
  margin-top: 12px;
  width: 114px;
}

.motorista-da-rodada-3 {
  color: var(--flamingo);
  font-family: var(--font-family-gotham-black);
  font-size: 21.7px;
  font-weight: 900;
  letter-spacing: 0;
  margin-left: 0.66px;
  margin-top: 32px;
  min-height: 52px;
  min-width: 113px;
  text-align: center;
}

.overlap-group5-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 31.4px;
  box-shadow: 0px 2.83px 2.83px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 142px;
  min-height: 270px;
  padding: 27.2px 9.3px;
  width: 252px;
}

.banner-120x100-daniel-1-traced-7 {
  align-self: center;
  height: 112px;
  margin-right: 0.92px;
  margin-top: 25px;
  width: 112px;
}

.guincho-e-transporte-1 {
  color: var(--flamingo);
  font-family: var(--font-family-gotham-black);
  font-size: 21.8px;
  font-weight: 900;
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 78px;
  text-align: center;
  width: 233px;
}

.overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  height: 270px;
  margin-right: 12.0px;
  margin-top: 41px;
  min-width: 646px;
}

.overlap-group4-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 31.34px;
  box-shadow: 0px 2.82px 2.82px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  padding: 39.6px 32.6px;
  width: 252px;
}

.banner-120x100-daniel-1-traced-8 {
  align-self: center;
  height: 105px;
  margin-right: 1.47px;
  margin-top: 7px;
  width: 83px;
}

.proteo-para-motor-e-cmbio-1 {
  letter-spacing: 0;
  margin-top: 27px;
  min-height: 52px;
  min-width: 177px;
  text-align: center;
}

.overlap-group11-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 31.34px;
  box-shadow: 0px 2.82px 2.82px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 142px;
  min-height: 270px;
  padding: 39.6px 39.8px;
  width: 252px;
}

.banner-120x100-daniel-1-traced-9 {
  align-self: center;
  height: 94px;
  margin-right: 0.58px;
  margin-top: 12px;
  width: 83px;
}

.x100-da-tabela-fipe-1 {
  letter-spacing: 0;
  margin-top: 32px;
  min-height: 52px;
  min-width: 172px;
  text-align: center;
}

.depoimentos-2 {
  letter-spacing: 0;
  margin-left: 5.0px;
  margin-top: 114px;
  min-height: 87px;
  min-width: 491px;
}

.flex-row-6 {
  align-items: flex-start;
  background-color: var(--resolution-blue-2);
  display: flex;
  height: 731px;
  justify-content: flex-end;
  margin-left: 4.0px;
  margin-top: 45px;
  min-width: 1084px;
  padding: 94.0px 218px;
}

.ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1.0px;
  min-height: 527px;
  width: 199px;
}

.ellipse-12-1 {
  background-color: var(--white);
  border-radius: 99.5px;
  height: 199px;
  width: 199px;
}

.ellipse-13-1 {
  background-color: var(--white);
  border-radius: 99.5px;
  height: 199px;
  margin-top: 129px;
  width: 199px;
}

.flex-col-15 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 515px;
  width: 414px;
}

.nome-sobrenome-2 {
  letter-spacing: 0;
  min-height: 44px;
}

.icon-star-container-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 1px;
  min-width: 178px;
}

.icon-star-2 {
  height: 24px;
  width: 26px;
}

.icon-star-3 {
  height: 24px;
  margin-left: 12px;
  width: 26px;
}

.lorem-ipsum-dolor-si-1 {
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 110px;
  width: 414px;
}

.nome-sobrenome-3 {
  letter-spacing: 0;
  margin-top: 141px;
  min-height: 44px;
}

.flex-col-16 {
  align-items: flex-end;
  background-color: var(--resolution-blue);
  display: flex;
  flex-direction: column;
  min-height: 1142px;
  padding: 93px 66px;
  width: 1084px;
}

.flex-col-17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 695px;
  width: 951px;
}

.flex-col-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 951px;
}

.flex-col-19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 199px;
  width: 951px;
}

.flex-row-7 {
  align-items: flex-end;
  display: flex;
  height: 148px;
  margin-left: 21.93px;
  min-width: 613px;
}

.flex-col-20 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 147px;
  width: 250px;
}

.proteo-veicular-1 {
  letter-spacing: 0;
  margin-left: 0.07px;
  min-height: 26px;
  width: 250px;
}

.flex-row-8 {
  align-items: center;
  display: flex;
  margin-right: 0.4px;
  margin-top: 3px;
  min-width: 250px;
}

.path126-3 {
  height: 66px;
  margin-top: 0.46px;
  width: 78px;
}

.overlap-group12-1 {
  height: 90px;
  margin-left: 4px;
  position: relative;
  width: 168px;
}

.path122-3 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 67px;
}

.path130-3 {
  height: 34px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 36px;
}

.path134-3 {
  height: 31px;
  left: 93px;
  position: absolute;
  top: 59px;
  width: 34px;
}

.path138-9 {
  height: 87px;
  left: 39px;
  position: absolute;
  top: 3px;
  width: 54px;
}

.icon-close-3 {
  height: 90px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 89px;
}

.path-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 0.97px;
  margin-top: 16px;
  min-width: 150px;
}

.path94-3 {
  height: 12px;
  margin-top: 0;
  width: 11px;
}

.path98-3 {
  align-self: flex-end;
  height: 12px;
  margin-left: 12px;
  width: 11px;
}

.path102-3 {
  height: 12px;
  margin-left: 12px;
  width: 12px;
}

.path106-3 {
  align-self: center;
  height: 12px;
  margin-left: 11px;
  margin-top: 0;
  width: 12px;
}

.path11-1 {
  height: 12px;
  margin-left: 12px;
  margin-top: 0;
  width: 12px;
}

.path114-3 {
  height: 12px;
  margin-left: 11px;
  margin-top: 0;
  width: 12px;
}

.vector-12-1 {
  height: 147px;
  margin-left: 44px;
  width: 2px;
}

.flex-col-21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  margin-left: 39px;
  min-height: 138px;
  width: 278px;
}

.matriz-blumenausc-1 {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 278px;
}

.rod-paul-fritz-kueh-1 {
  letter-spacing: 0;
  margin-left: 5.0px;
  margin-top: 17px;
  min-height: 44px;
  min-width: 273px;
  text-align: center;
}

.phone-2 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 30px;
  min-width: 204px;
}

.vector-11-2 {
  height: 2px;
  margin-top: 49px;
  width: 951px;
}

.flex-row-9 {
  align-items: center;
  display: flex;
  margin-right: 2.0px;
  margin-top: 33px;
  min-width: 759px;
}

.flex-col-22 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20.24px;
  min-height: 130px;
  width: 232px;
}

.blumenausc-3 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 125px;
}

.r-dr-pedro-zimmerm-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 232px;
  text-align: center;
}

.x47-98474-5597-ou-47-99672-3910-1 {
  letter-spacing: 0;
  margin-left: 5.0px;
  margin-top: 12px;
  min-height: 44px;
  min-width: 183px;
  text-align: center;
}

.vector-15-1 {
  height: 184px;
  margin-left: 11px;
  width: 2px;
}

.flex-col-23 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.76px;
  margin-left: 37px;
  min-height: 108px;
  width: 212px;
}

.blumenausc-2 {
  letter-spacing: 0;
  margin-right: 7.0px;
  min-height: 22px;
  min-width: 125px;
}

.r-francisco-vahldieck-2579-fortaleza-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 212px;
  text-align: center;
}

.phone-3 {
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 12px;
  min-height: 22px;
  min-width: 156px;
}

.vector-16-1 {
  height: 184px;
  margin-left: 19px;
  width: 2px;
}

.flex-col-24 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20.24px;
  min-height: 130px;
  width: 204px;
}

.r-amazona-4160-sala-02-garcia-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 204px;
  text-align: center;
}

.x47-3288-9020-ou-47-99955-3249-1 {
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 12px;
  min-height: 44px;
  min-width: 180px;
  text-align: center;
}

.vector-12 {
  height: 2px;
  margin-top: 32px;
  width: 951px;
}

.flex-row-10 {
  align-items: center;
  display: flex;
  margin-right: 1.0px;
  margin-top: 27px;
  min-width: 800px;
}

.flex-col-25 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.01px;
  min-height: 126px;
  width: 237px;
}

.brusquesc-1 {
  letter-spacing: 0;
  margin-left: 10.0px;
  min-height: 22px;
  min-width: 109px;
}

.r-alberto-knop-100-jardim-maluche-1 {
  letter-spacing: 0;
  margin-left: 10.0px;
  margin-top: 16px;
  min-height: 36px;
  min-width: 155px;
  text-align: center;
}

.x47-3-1 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 35px;
  text-align: center;
  width: 237px;
}

.vector-18-1 {
  height: 184px;
  margin-left: 26px;
  width: 2px;
}

.flex-col-26 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.01px;
  margin-left: 17px;
  min-height: 126px;
  width: 237px;
}

.indaialsc-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 96px;
}

.av-manoel-simo-131-sala-01-naes-1 {
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 16px;
  min-height: 36px;
  min-width: 226px;
  text-align: center;
}

.vector-20-1 {
  height: 184px;
  margin-left: 15px;
  width: 2px;
}

.flex-col-27 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 12px;
  min-height: 125px;
  width: 252px;
}

.ituporangasc-1 {
  letter-spacing: 0;
  margin-right: 25.0px;
  min-height: 22px;
  min-width: 135px;
}

.r-verglio-scheller-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 36px;
  min-width: 252px;
  text-align: center;
}

.x47-99210-5541-ou-47-99969-1189-1 {
  letter-spacing: 0;
  margin-right: 26.0px;
  margin-top: 17px;
  min-height: 34px;
  min-width: 142px;
  text-align: center;
}

.flex-row-11 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 53.0px;
  margin-top: 33px;
  min-width: 445px;
}

.flex-col-28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 126px;
  width: 150px;
}

.jaragusc-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 107px;
}

.r-carlos-eggert-171-vila-lalau-1 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 36px;
  min-width: 150px;
  text-align: center;
}

.x47-99602-8673-ou-47-99674-0015-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 17px;
  min-height: 34px;
  min-width: 147px;
  text-align: center;
}

.vector-19-1 {
  height: 184px;
  margin-left: 45px;
  width: 2px;
}

.flex-col-29 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 1px;
  min-height: 126px;
  width: 203px;
}

.taisc-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 22px;
  min-width: 72px;
}

.r-coronel-feddersen-2120-centro-1 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 36px;
  min-width: 203px;
  text-align: center;
}

.x47-99627-4255-ou-47-99969-1167-1 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 34px;
  min-width: 147px;
  text-align: center;
}

